<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <form th:action="@{/form}" method="post">
            <div>
                <label for="username"> Username </label>
                <input type="text" name="username" id="username">
            </div>

            <div>
                <label for="pass"> Password </label>
                <input type="password" name="password" id="pass">
            </div>

            <div>
                <label for="email"> Email </label>
                <input type="email" name="email" id="email">
            </div>
            <div>
                <input type="submit" value="Enviar">
            </div>
        </form>
</body>
</html>